a{
  text-decoration: none;
}
.rootcont: {
  display: 'flex';
  flexWrap: 'wrap';
  justifyContent: 'space-around';
}

.contenedor {
  display: flex;
  padding: 0px 15px 15px 15px;
}

.appbar{
  position: fixed !important;
}
.appbar-boton{
  color: '#fff';
}

/*========CATEGORIAS==============*/
.categorias_tarjetas{
  display: flex;
}

.checkIcono:hover svg{
  color: rgb(0, 188, 212) !important;
}




/*========CATEGORIA==============*/
.categoria_tarjeta {
  z-index: 0 !important;
  margin-left: 15px;
  margin-right: 15px;
  width: 320px;
}

.vista_lista_productos{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  justify-content: center;
}



.vista_descrip_precio{
  padding-top: 5px;
  width: 265px;
  display: flex;
  justify-content: space-between;
}


.editar_producto{
  padding-right: 0px
  // saque el \!important porque me pisaba cuando abria el nested item
}


.item_descripcion{
  flex: 5;
  font-size: 85%;
  color: #888 !important;

}

.item_precio {
  flex: 1;

  padding-left: 10px;
  text-align: center;
  align-self: center;
  font-size: 17px;
}


.menu_editar_producto{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.item_editar_nombre{
  flex: auto;
  flex-basis: 75%;

}
.item_editar_precio{
  flex: auto;
  flex-basis: 15%;
  padding-left: 12px;
  padding-right: 5px;
  text-align: right;
}

.item_editar_descripcion{
  flex: 1;
  padding-top: 20px;
  color: #888 !important;
  flex-basis: 100%;
  font-size: 80%;
}




.item_editar_precio input{
 text-align: center;
}
.MuiInputAdornment-root-471.MuiInputAdornment-positionStart-472   {
    margin-right: 2px !important;
}

.item_eliminar_producto{
  flex:auto;
}

.item_editar_disponibilidad{

  flex: auto;
  padding-right: 5px;

}
.item_editar_ok{
flex: auto;
}

.item_editar_controles{
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/*========PRODUCTO ADMIN==============*/

.item_comentario{
  flex: 5;
  font-size: 85%;
  color: #888 !important;

}
.horario_producto_pedido{
  display:block;
  color: #888 !important;

}
.vista_rectangulo_producto{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  justify-content: center;
}

.item_cantidad{
    font-size: 85%;
    color: #888 !important;
    padding:3px
}
.vista_info_productoPedido
{
  display: flex;
  flex-direction: column;
}
