.rootcont: {
  display: 'flex';
  flexWrap: 'wrap';
  justifyContent: 'space-around';
}

.contenedor {
  display: flex;
  padding: 94px 15px 15px 15px;
}

.appbar{
  position: fixed !important;
}
.appbar-boton{
  color: '#fff';
}

/*========CATEGORIAS==============*/
.categorias_tarjetas{
  display: flex;
}

.checkIcono:hover svg{
  color: rgb(0, 188, 212) !important;
}




/*========CATEGORIA==============*/
.categoria_tarjeta {
  z-index: 0 !important;
  margin-left: 15px;
  margin-right: 15px;
  width: 320px;
}

.vista_lista_productos{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  justify-content: center;
}



.vista_descrip_precio{
  padding-top: 5px;
  width: 265px;
  display: flex;
  justify-content: space-between;
}


.editar_producto{
  padding-right: 0px !important
}


.item_descripcion{
  flex: 5;
  font-size: 85%;
  color: #888 !important;

}
.item_precio {
  flex: 1;

  padding-left: 10px;
  text-align: center;
  align-self: center;
  font-size: 17px;
}


.menu_editar_producto{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.item_editar_nombre{
  flex: 1;
  max-width: 70%;
  flex-basis: 80%;

}

.item_editar_descripcion{
  flex: 1;
  color: #888 !important;
  flex-basis: 75%;
  font-size: 80%;
}


.item_editar_precio{
  flex: 1;
  flex-basis: 15%;
  padding-left: 12px;
  padding-right: 5px;
  text-align: right;
}

.item_editar_precio input{
 text-align: center;
}

.item_eliminar_producto{
  flex:1;
  flex-basis: 16%
}

.item_editar_disponibilidad{
  flex: 5;
  padding-right: 15px;
  padding-top: 10px;
  max-width: 140px;
  flex-basis: 30%;
}
