.rootcont: {
  display: 'flex';
  flexWrap: 'wrap';
  justifyContent: 'space-around';
}

.contenedor {
  display: flex;
  padding: 15px;
}

/*========CATEGORIAS==============*/
.categorias_tarjetas{
  display: flex;
}

.checkIcono:hover svg{
  color: rgb(0, 188, 212) !important;
}




/*========CATEGORIA==============*/
.categoria_tarjeta {
  z-index: 0 !important;
  margin-left: 15px;
  margin-right: 15px;
  width: 320px;
}

.vista_lista_productos{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  justify-content: center;
}



.vista_descrip_precio{
  padding-top: 5px;
  width: 275px;
  display: flex;
  justify-content: space-between;
}


.item_descripcion{
  flex: 3;
  font-size: 85%;
  color: #888 !important;

}
.item_precio {
  flex: 1;
  text-align: center;
  align-self: right;
  font-size: 17px;
}

.menu_editar_producto{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item_editar_nombre{
  width: 80%;
}

.item_editar_descripcion{
  width: 80%;
  color: #888 !important;
  font-size: 80%;
}

.item_editar_precio{
  width: 15%;
  padding-left: 12px;
  align-self: flex-end;
  text-align: right;
}

.item_editar_precio input{
 text-align: center;
}
